In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv('mooc data analysis/gapminder-FiveYearData.csv')

In [7]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [8]:
# Size Of Df
print(df.shape)
df_shape=df.shape

(1704, 6)

In [9]:
print(df.columns)
print(df.dtypes)
column_name = df.columns #Tuple

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')
country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [11]:
country=df['country']#Column wise
subset = df[['country','continent','year']]

In [12]:
print(country.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [13]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [14]:
 print(df.loc[0])#Row Wise

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [15]:
print(df.tail(n=1))

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [16]:
print(df.loc[[0,99,999]])

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

In [17]:
print(df.iloc[0])

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [18]:
print(df.iloc[-1])

country        Zimbabwe
year               2007
pop          12311143.0
continent        Africa
lifeExp          43.487
gdpPercap    469.709298
Name: 1703, dtype: object

In [19]:
subset1 = df.loc[:, ['year','pop']]
subset2 = df.iloc[:, [2,4,-1]]

In [20]:
print(subset1.head())

   year         pop
0  1952   8425333.0
1  1957   9240934.0
2  1962  10267083.0
3  1967  11537966.0
4  1972  13079460.0

In [21]:
print(subset2.head())

          pop  lifeExp   gdpPercap
0   8425333.0   28.801  779.445314
1   9240934.0   30.332  820.853030
2  10267083.0   31.997  853.100710
3  11537966.0   34.020  836.197138
4  13079460.0   36.088  739.981106

In [22]:
small_range = list(range(5))

In [23]:
print(small_range)

[0, 1, 2, 3, 4]

In [24]:
print(df.iloc[:,small_range].head())

       country  year         pop continent  lifeExp
0  Afghanistan  1952   8425333.0      Asia   28.801
1  Afghanistan  1957   9240934.0      Asia   30.332
2  Afghanistan  1962  10267083.0      Asia   31.997
3  Afghanistan  1967  11537966.0      Asia   34.020
4  Afghanistan  1972  13079460.0      Asia   36.088

In [25]:
print(df.loc[42,'country'])

Angola

In [26]:
print(df.iloc[:10,[0,5,4]])

       country   gdpPercap  lifeExp
0  Afghanistan  779.445314   28.801
1  Afghanistan  820.853030   30.332
2  Afghanistan  853.100710   31.997
3  Afghanistan  836.197138   34.020
4  Afghanistan  739.981106   36.088
5  Afghanistan  786.113360   38.438
6  Afghanistan  978.011439   39.854
7  Afghanistan  852.395945   40.822
8  Afghanistan  649.341395   41.674
9  Afghanistan  635.341351   41.763

In [27]:
print(df.iloc[[0,99,999],[0,1,2,3]])

         country  year         pop continent
0    Afghanistan  1952   8425333.0      Asia
99    Bangladesh  1967  62821884.0      Asia
999     Mongolia  1967   1149500.0      Asia

In [28]:
print(df.loc[[0,99,999],['country']])

         country
0    Afghanistan
99    Bangladesh
999     Mongolia